<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="/stylesheets/details.css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="logo">
        <div>
            <i class="far fa-user-circle"></i>
            <span>Username</span>
        </div>
        <div>
            <a href="/tasks" id="logout-btn"><i class="fas fa-long-arrow-alt-left"></i><span>Back</span></a>
        </div>
    </div>
    <div class="container">
        <div class="side-bar">
            <div class="profile">
                <i class="far fa-user-circle"></i>
                <p>Username</p>
            </div>
            <a href="/tasks" id="logout-btn"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
        </div>
        <section class="desktop-main-body">
            <div class="main-body-header">
                <div class="greeting-msg">
                    <div class='console-container'><span id='text'></span>
                        <div class='console-underscore' id='console'></div>
                    </div>
                </div>
                <div class="day-info">
                    <div class="today">
                        <span>Today</span>
                        <div class="weather">
                            <i class="fas fa-sun"></i>
                        </div>
                    </div>
                    <div class="date">14 Aug, 2021</div>
                </div>
            </div>
            <section class="task-card-container">
                <div class="task-card">
                    <div class="task-card-status">
                        <% if (foundTask.status === 'todo') { %>
                            <i class="fas fa-ellipsis-h"></i>
                            <% } else if (foundTask.status === 'inProgress') { %>
                                <i class="fas fa-spinner"></i>
                                <% } else if (foundTask.status === 'review') { %>
                                    <i class="fas fa-eye"></i>
                                    <% } else if (foundTask.status === 'done') { %>
                                        <i class="fas fa-check-circle"></i>
                                        <% } %>
                    </div>
                    <div class="task-card-body">
                        <div class="title-priority-row">
                            <span class="title"><%= foundTask.title %></span>
                            <span class="priority priority-<%= foundTask.priority %>"><%= foundTask.priority %></span>
                        </div>
                        <div class="description">
                            <%= foundTask.description %>
                        </div>
                        <div class="due">Due:
                            <%= foundTask.due %>
                        </div>
                        <div class="assign">Assigned To:
                            <%= foundTask.assignment %>
                        </div>
                    </div>
                </div>
            </section>
            <div class="edit-delete-row">
                <a href="/tasks/<%= foundTask._id %>/edit"><i class="far fa-edit"></i>Edit</a>
                <form action="/tasks/<%= foundTask._id %>?_method=DELETE" method="POST">
                    <button><i class="far fa-trash-alt"></i>Delete</button>
                </form>
            </div>
        </section>
    </div>
    <footer>
        <a href="/tasks"><i class="fas fa-home" id="home-button"></i></a>
        <a href="/tasks/new"><i class="fas fa-plus-circle" id="add-task-lg"></i></a>
        <a href=""><i class="fas fa-bars" id="details-button"></i></a>
    </footer>
    <script>
        consoleText(['Good Morning User', 'How do you feel today?', 'Have you finished your tasks?'], 'text', ['lightblue', 'lavender', 'lightpink']);

        function consoleText(words, id, colors) {
            if (colors === undefined) colors = ['#fff'];
            let visible = true;
            let con = document.getElementById('console');
            let letterCount = 1;
            let x = 1;
            let waiting = false;
            let target = document.getElementById(id)
            target.setAttribute('style', 'color:' + colors[0])
            window.setInterval(function() {

                if (letterCount === 0 && waiting === false) {
                    waiting = true;
                    target.innerHTML = words[0].substring(0, letterCount)
                    window.setTimeout(function() {
                        let usedColor = colors.shift();
                        colors.push(usedColor);
                        let usedWord = words.shift();
                        words.push(usedWord);
                        x = 1;
                        target.setAttribute('style', 'color:' + colors[0])
                        letterCount += x;
                        waiting = false;
                    }, 1000)
                } else if (letterCount === words[0].length + 1 && waiting === false) {
                    waiting = true;
                    window.setTimeout(function() {
                        x = -1;
                        letterCount += x;
                        waiting = false;
                    }, 1000)
                } else if (waiting === false) {
                    target.innerHTML = words[0].substring(0, letterCount)
                    letterCount += x;
                }
            }, 120)
            window.setInterval(function() {
                if (visible === true) {
                    con.className = 'console-underscore hidden'
                    visible = false;

                } else {
                    con.className = 'console-underscore'

                    visible = true;
                }
            }, 400)
        }
    </script>
</body>

</html>