<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="/stylesheets/tasks.css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="logo">
        <div>
            <i class="far fa-user-circle"></i>
            <span>Username</span>
        </div>
        <div>
            <a href="/login" id="logout-btn"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        </div>
    </div>
    <div class="container">
        <div class="side-bar">
            <div class="profile">
                <i class="far fa-user-circle"></i>
                <p>Username</p>
            </div>
            <div class="tasks">
                <a href="/tasks">All Tasks</a>
            </div>
            <div class="status">
                <p>Status</p>
                <div>
                    <a href="/tasks?status=todo" class="status-item-todo"><i class="fas fa-ellipsis-h"></i><span>Todo</span></a>
                    <a href="/tasks?status=inProgress" class="status-item-inProgress"><i class="fas fa-spinner"></i><span>In Progress</span></a>
                    <a href="/tasks?status=review" class="status-item-review"><i class="far fa-eye"></i><span>Review</span></a>
                    <a href="/tasks?status=done" class="status-item-done"><i class="fas fa-check-circle"></i><span>Done</span></a>
                </div>
            </div>
            <a href="/login" id="logout-btn" class="button-os"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
        <section class="desktop-main-body">
            <div class="main-body-header">
                <div class="greeting-msg">
                    <div class='console-container'><span id='text'></span>
                        <div class='console-underscore' id='console'></div>
                    </div>
                </div>
                <div class="day-info">
                    <div class="today">
                        <span><%= weekDay %> </span>
                        <div class="weather">
                            <i class="fas fa-sun"></i>
                        </div>
                    </div>
                    <div class="date"><%= todayDate %></div>


                </div>
            </div>
            <section class="task-card-container">
                <% for (const task of tasks) { %>
                    <div class="task-card <%= task.status %>">
                        <div class="task-card-status">
                            <% if (task.status === 'todo') { %>
                                <a href="/tasks/<%= task._id %>"><i class="fas fa-ellipsis-h"></i></a>
                                <% } else if (task.status === 'inProgress') { %>
                                    <a href="/tasks/<%= task._id %>"><i class="fas fa-spinner"></i></a>
                                    <% } else if (task.status === 'review') { %>
                                        <a href="/tasks/<%= task._id %>"><i class="fas fa-eye"></i></a>
                                        <% } else if (task.status === 'done') { %>
                                            <a href="/tasks/<%= task._id %>"><i class="fas fa-check-circle"></i></a>
                                            <% } %>
                        </div>
                        <div class="task-card-body">
                            <div>
                                <a href="/tasks/<%= task._id %>">
                                    <span class="title"><%= task.title %></span>
                                </a>
                                <span class="priority priority-<%= task.priority %>"><%= task.priority %></span>
                            </div>
                            <div class="description">
                                <%= task.description %>
                            </div>
                            <div class="due">Due:
                                <%= task.due %>
                            </div>
                            <div class="assign">Assigned To:
                                <%= task.assignment %>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </section>
            <a href="/tasks/new" class="add-new-task"><i class="fas fa-plus"></i></a>
        </section>
    </div>
    <footer>
        <a href="/tasks"><i class="fas fa-home" id="home-button"></i></a>
        <a href="/tasks/new"><i class="fas fa-plus-circle" id="add-task-lg"></i></a>
        <a href=""><i class="fas fa-bars" id="details-button"></i></a>


    </footer>
    <script>
        moment().format("MMM Do YY");
        consoleText(['Good Morning User', 'How do you feel today?', 'Have you finished your tasks?'], 'text', ['lightblue', 'lavender', 'lightpink']);

        function consoleText(words, id, colors) {
            if (colors === undefined) colors = ['#fff'];
            let visible = true;
            let con = document.getElementById('console');
            let letterCount = 1;
            let x = 1;
            let waiting = false;
            let target = document.getElementById(id)
            target.setAttribute('style', 'color:' + colors[0])
            window.setInterval(function() {

                if (letterCount === 0 && waiting === false) {
                    waiting = true;
                    target.innerHTML = words[0].substring(0, letterCount)
                    window.setTimeout(function() {
                        let usedColor = colors.shift();
                        colors.push(usedColor);
                        let usedWord = words.shift();
                        words.push(usedWord);
                        x = 1;
                        target.setAttribute('style', 'color:' + colors[0])
                        letterCount += x;
                        waiting = false;
                    }, 1000)
                } else if (letterCount === words[0].length + 1 && waiting === false) {
                    waiting = true;
                    window.setTimeout(function() {
                        x = -1;
                        letterCount += x;
                        waiting = false;
                    }, 1000)
                } else if (waiting === false) {
                    target.innerHTML = words[0].substring(0, letterCount)
                    letterCount += x;
                }
            }, 120)
            window.setInterval(function() {
                if (visible === true) {
                    con.className = 'console-underscore hidden'
                    visible = false;

                } else {
                    con.className = 'console-underscore'

                    visible = true;
                }
            }, 400)
        }
    </script>
</body>

</html>